<h1>Bienvenue <%= @user.first_name %>!</h1>
  
<p>
  Salut <%= @user.first_name %>  Bienvenue sur le bon coin du dessin! Nous sommes ravis de vous accueillir<br>
   sur notre site de vente en ligne des dessins.<br>
    Nous espérons que vous trouverez ici ce que vous rechercher. <br>
     Notre objectif est de vous offrir une plateforme sûre et amusante pour acheter des dessins en toute sécurité.<br>
      Alors, allez-y, explorez les dessins, n'hesiter pas à nous contacter si vous avez besoin de quelque chose<br>
</p>
<p>
  Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
</p>
<p>
Nous vous souhaitons une agréable navigation sur notre site le bon coin du dessin !
</p>
<p>Cordialement,<br>
L'équipe le bon coin du dessin.</p>
<small style="color: green">Jerry MANKOU - Kevin LETOURNEUR - Sarah MELAIKIA - Antony MILORADOVIC</small>
<br>





<br><br><br>
<hr>
<h1>Welcome <%= @user.first_name %>!</h1>
  
<p>
  Hi <%= @user.first_name %> Welcome to le bon coin du dessin! We are delighted to welcome you<br>
   on our online sales site for drawings. We hope you find here what you are looking for <br>
     Our goal is to provide you with a platform<br>
     safe and fun to buy designs safely. So go ahead, explore the designs,
     don't hesitate to contact us if you need anything<br>
</p>
<p>
  To access your customer area, log in via: <%= @url %>.
</p>
<p>
We wish you a pleasant navigation on our site the good corner of the drawing!
</p>
<p>Regards,<br>
le bon coin du dessin team.</p>
<small style="color: green">Jerry MANKOU - Kevin LETOURNEUR - Sarah MELAIKIA - Antony MILORADOVIC</small>
